.clients {
}
.container {
}

.clients__title {
  @include title;
  margin: 0 0 14px 0;
}

.clients__text {
  font-size: 14px;
  font-weight: 500;
  color: $light-grey;
  margin-bottom: 39px;

  @media(min-width: $tablet-width) {
    max-width: 640px;
  }
}

.clietns__list {
  padding-bottom: 60px;

  @media(min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding-bottom: 80px;
  }
}

.clients__item {
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.05);
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  @media(min-width: $tablet-width) {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}

.clients__item-logo {
  mask-image: linear-gradient(to bottom, transparent, #000);
}