.contacts {
  margin-bottom: 30px;
}

.contacts__caption {
  font-size: 16px;
  font-weight: 500;
  line-height: 160%;
  color: $basic-grey;

  @media(min-width: $tablet-width) {
    font-size: 18px;
  }
}

.contacts__caption--footer-position {
  @media(min-width: $tablet-width) {
    margin: 0 0 20px 0;
  }
}

.contacts__list {
  margin-top: 20px;
}

.contacts__item {
  &:not(:last-child) {
    margin-bottom: 15px;
  }
}
.contacts__link {
  font-size: 14px;
  line-height: 160%;

  @media(min-width: $tablet-width) {
    font-size: 16px;
  }
}