.feedback {
  background-color: $basic-red;
  padding: 40px 0;

  @media(min-width: $tablet-width) {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      width: 260px;
      height: 242px;
      background-image: url(../../img/offer-group-decore@1x.png);
      background-repeat: no-repeat;
      background-size: cover;
      top: 76px;
      right: 5px;

      @media(min-resolution: 2dppx) {
        background-image: url(../../img/offer-group-decore@2x.png);
      }
    }
  }
}

.container {
}

.feedback__title {
  @include title;
  text-align: center;
  margin-top: 0;
  margin-bottom: 12px;

  @media(min-width: $tablet-width) {
    text-align: start;
    margin-bottom: 14px;
  }
}

.feedback__text {
  @include text;
  color: $basic-white;
  opacity: 0.75;
  text-align: center;
  margin-bottom: 28px;

  @media(min-width: $tablet-width) {
    text-align: start;
    max-width: 480px;
    margin-bottom: 40px;
  }
}

.feedback__button {
  @include button;
  font-size: 14px;
  font-weight: 500;
  line-height: 160%;
  color: $basic-white;
  background-color: $dark-color;
  border-radius: 50%;
  padding: 24px 40px;
  display: block;
  margin: 0 auto;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 253px;
    height: 90px;
    border: 1px solid $basic-white;
    border-radius: 50%;
    left: 0;
    top: 0;
    rotate: -5deg;
  }

  @media(min-width: $tablet-width) {
    font-size: 16px;
    margin: 0;

    &::after {
      content: none;
    }
  }
}