.page-header__button-open {
  position: absolute;
  width: 46px;
  height: 46px;
  background-color: $grey-gradient-back;
  top: 12px;
  right: 22px;
  border-radius: 5px;

  &::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 25px;
    background-color: $basic-white;
    right: 8px;
    top: 14px;
    box-shadow: 0 19px 0 0 $basic-white;
  }

  &::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 30px;
    background-color: $basic-white;
    right: 8px;
    top: 23px;
  }

  @media(min-width: $desktop-width) {
    display: none;
  }
}