//Colors
$basic-white: #ffffff;
$basic-grey: #5c5c5c;
$basic-red: #da4533;

//Background colors
$dark-back: #1b1b1b;
$grey-back: rgba(27, 27, 27, 0.80);
$grey-gradient-back:rgba(255, 255, 255, 0.05);

// Viewports
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1280px;